In [28]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances

import pickle

In [3]:
df = pd.read_csv("tmdb_5000_movies.csv")

In [4]:
df.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [94]:
df.shape

(4803, 20)

In [11]:
df.loc[0,"genres"]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
df.loc[1, "genres"]

'[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'

In [134]:
examples_ow = [df["overview"][0], df["overview"][1]]

In [141]:
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(examples_ow)

In [143]:
print("Feature names:")
print(vectorizer.get_feature_names_out())
print("\nlength of feature names:")
print(len(vectorizer.get_feature_names_out()))

print("\nOriginal transformed data:")
print(tfidf_matrix.toarray())

print("\nShape of transformed data:")
print(tfidf_matrix.shape)

Feature names:
['22nd' 'alien' 'an' 'and' 'as' 'back' 'barbossa' 'be' 'becomes'
 'believed' 'between' 'but' 'captain' 'century' 'civilization' 'come'
 'dead' 'dispatched' 'earth' 'edge' 'elizabeth' 'following' 'has' 'headed'
 'in' 'is' 'it' 'life' 'long' 'marine' 'mission' 'moon' 'nothing' 'of'
 'on' 'orders' 'pandora' 'paraplegic' 'protecting' 'quite' 'seems' 'swann'
 'the' 'to' 'torn' 'turner' 'unique' 'will' 'with']

length of feature names:
49

Original transformed data:
[[0.20391205 0.20391205 0.20391205 0.1450851  0.         0.
  0.         0.         0.20391205 0.         0.20391205 0.1450851
  0.         0.20391205 0.20391205 0.         0.         0.20391205
  0.         0.         0.         0.20391205 0.         0.
  0.20391205 0.1450851  0.         0.         0.         0.20391205
  0.20391205 0.20391205 0.         0.         0.20391205 0.20391205
  0.20391205 0.20391205 0.20391205 0.         0.         0.
  0.29017021 0.1450851  0.20391205 0.         0.20391205 0.
  0.        ]
 [0.         0.         0.         0.24006305 0.16870012 0.16870012
  0.16870012 0.16870012 0.         0.16870012 0.         0.12003152
  0.16870012 0.         0.         0.16870012 0.16870012 0.
  0.16870012 0.16870012 0.16870012 0.         0.16870012 0.16870012
  0.         0.24006305 0.16870012 0.16870012 0.16870012 0.
  0.         0.         0.16870012 0.16870012 0.         0.
  0.         0.         0.         0.16870012 0.16870012 0.16870012
  0.24006305 0.36009457 0.         0.16870012 0.         0.16870012
  0.16870012]]

Shape of transformed data:
(2, 49)

In [144]:
idx = vectorizer.get_feature_names_out().tolist().index("marine")
idx

29

In [145]:
sum(df["overview"].isna())

0

In [146]:
df["overview"] = df["overview"].fillna("")

In [147]:
vectorizer = TfidfVectorizer(
    stop_words="english",
    min_df=2,
    max_df=.95,
)

tfidf_matrix = vectorizer.fit_transform(df["overview"])

In [148]:
feature_names = vectorizer.get_feature_names_out()
print("Feature names:")
print(feature_names)
print("\nlength of feature names:")
print(len(feature_names))

Feature names:
['00' '000' '007' ... 'zookeeper' 'zoologists' 'zorro']

length of feature names:
10693

* Get the cosine similarity scores of the array

In [149]:
similarity_scores = cosine_similarity(tfidf_matrix)

In [150]:
similarity_scores

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02721342, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01656405, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02721342, 0.01656405, ..., 1.        , 0.01792443,
        0.00820728],
       [0.        , 0.        , 0.        , ..., 0.01792443, 1.        ,
        0.01337416],
       [0.        , 0.        , 0.        , ..., 0.00820728, 0.01337416,
        1.        ]])

In [151]:
similarity_scores.shape

(4803, 4803)

In [162]:
top5_movie_similarity = np.apply_along_axis(lambda x: np.sort(x)[::-1][:6], 1, similarity_scores)

In [173]:
top5 = top5_movie_similarity[:, 1:, ]

In [178]:
a = [[np.where(sim_scores == val)[0][0] for val in doc]
    for doc, sim_scores in zip(top5, similarity_scores)]

* in order to see the shape of the array that includes top 5 favorite movies that close to the selected movie, it's expressed it in a array and pass its shape

In [189]:
b = np.array(a)

In [190]:
b.shape

(4803, 5)

In [197]:
df.loc[df["original_title"] == "The Dark Knight Rises"].index[0]

3

In [203]:
df.iloc[a[0]]["original_title"]

3604           Apollo 18
2130        The American
634           The Matrix
1341    Obitaemyy Ostrov
529     Tears of the Sun
Name: original_title, dtype: object

In [214]:
def get_suggested_5_movies(movie_name):
    try:
        user_movie_idx = df.loc[df["original_title"] == movie_name].index[0]
        movies = df.iloc[a[user_movie_idx]]["original_title"]
        return movies
    except IndexError as e:
        print("Movie cannot found also here its a formal error key:", e)


movie = input("Type a Movie: ")
get_suggested_5_movies(movie)

Type a Movie:
Movie cannot found also here its a formal error key: index 0 is out of bounds for axis 0 with size 0

In [215]:
movie = input("Type a Movie: ")
get_suggested_5_movies(movie)

Type a Movie: The Dark Knight

3                         The Dark Knight Rises
428                              Batman Returns
299                              Batman Forever
3854    Batman: The Dark Knight Returns, Part 2
1359                                     Batman
Name: original_title, dtype: object

In [216]:
movie = input("Type a Movie: ")
get_suggested_5_movies(movie)

Type a Movie: Interstellar

1709           キャプテンハーロック
300     Starship Troopers
4353    The Green Inferno
220            Prometheus
2260      All Good Things
Name: original_title, dtype: object

In [219]:
movie = input("Type a Movie: ")
get_suggested_5_movies(movie)

Type a Movie: The Godfather

2731     The Godfather: Part II
1873                 Blood Ties
867     The Godfather: Part III
2464     The Master of Disguise
3164               Mine vaganti
Name: original_title, dtype: object

In [220]:
movie = input("Type a Movie: ")
get_suggested_5_movies(movie)

Type a Movie: The Shawshank Redemption

4531     Civil Brand
3785          Prison
609      Escape Plan
4727    Penitentiary
2868        Fortress
Name: original_title, dtype: object

In [221]:
movie = input("Type a Movie: ")
get_suggested_5_movies(movie)

Type a Movie: Whiplash

3542                      R100
2106                  Drumline
1955                    一個人的武林
4181    Ed and His Dead Mother
537                  Immortals
Name: original_title, dtype: object